<!-- HERO LANDING PAGE  -->
<div class="bg-image d-flex justify-content-center align-items-center hero-image-home">
    <h1 class="text-dark display-1 h1 fw-bold">SuperFüds</h1>
</div>
<!-- HERO LANDING PAGE -->

<hr>

{{!-- CARDS LANDING PAGE --}}

<div class="container">
    <h2 class="text-center display-3 mt-4">¿Por qué SuperFüds?</h2>
    <div class=" container row row-cols-1 row-cols-md-4 g-4 m-4">
    <div class="col">
        <div class="card h-100 bg-success border-light">
        <div class="card-body">
            <h5 class="card-title text-center">1. Portafolio</h5>
            <p class="card-text">Contamos con más de 300 productos especializados de diferentes categorías y composiciones.</p>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 bg-success border-light">
        <div class="card-body">
            <h5 class="card-title text-center">2. Asesoramiento</h5>
            <p class="card-text">Brindamos asesoría personalizada con un equipo experto en el mercado y nutrición que te ayudará a alcanzar tus metas.</p>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 bg-success border-light">
        <div class="card-body">
            <h5 class="card-title text-center">3. Innovación</h5>
            <p class="card-text">Somos una compañía de base tecnológica, si eres cliente podrás comprar en nuestro ecommerce desde cualquier lugar de Colombia.</p>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 bg-success border-light">
        <div class="card-body">
            <h5 class="card-title text-center">4. Vanguardia</h5>
            <p class="card-text">Nuestro catálogo crece continuamente, tendrás acceso a los productos más recientes, populares y con el mejor precio del mercado.</p>
        </div>
        </div>
    </div>
    </div>
</div>

{{!-- CARDS LANDING PAGE --}}


